<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.core.mapper.FluidFieldBaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseInfoResultMap" type="org.springblade.modules.core.entity.FluidFieldBaseInfo">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="flu_name" property="fluName"/>
        <result column="flu_profile" property="fluProfile"/>
        <result column="flu_number" property="fluNumber"/>
        <result column="flu_long" property="fluLong"/>
        <result column="flu_lat" property="fluLat"/>
        <result column="flu_img" property="fluImg"/>
        <result column="remark" property="remark"/>
        <result column="on_off" property="onOff"/>
    </resultMap>

    <update id="updateBaseInfoById" parameterType="FluidFieldBaseInfo">
        update fluid_field_base_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="info.fluName != null">flu_name = #{info.fluName},</if>
            <if test="info.fluNumber != null">flu_number = #{info.fluNumber},</if>
            <if test="info.fluProfile != null">flu_profile = #{info.fluProfile},</if>
            <if test="info.fluImg != null">flu_img = #{info.fluImg},</if>
            <if test="info.fluLong != null">flu_long = #{info.fluLong},</if>
            <if test="info.fluLat != null">flu_lat = #{info.fluLat},</if>
            <if test="info.remark != null">remark = #{info.remark},</if>
            <if test="info.createUser != null">create_user = #{info.createUser},</if>
            <if test="info.createTime != null">create_time = #{info.createTime},</if>
            <if test="info.updateTime != null">update_time = #{info.updateTime},</if>
            <if test="info.updateUser != null">update_user = #{info.updateUser},</if>
            <if test="info.isDeleted != null">is_deleted = #{info.isDeleted},</if>
            <if test="info.status != null">status = #{info.status},</if>
            <if test="info.createDept != null">create_dept = #{info.createDept},</if>
            <if test="info.onOff != null">on_off = #{info.onOff},</if>
        </trim>
        where id = #{info.id}
    </update>


    <select id="getBaseInfoList" resultMap="baseInfoResultMap">
        select * from fluid_field_base_info where is_deleted = 0
    </select>
    <select id="selectFluidFieldBaseInfoList"
            resultType="org.springblade.modules.core.entity.FluidFieldBaseInfo">
        select * from fluid_field_base_info where is_deleted = 0
    </select>


    <select id="fluBaseInfo" resultType="java.lang.String">
        select flu_name from fluid_field_base_info where id = #{fluId}
    </select>

    <select id="getFluList" resultType="org.springblade.modules.core.entity.FluidFieldBaseInfo">
        select id,flu_number, flu_name from fluid_field_base_info where is_deleted = 0
    </select>

    <select id="selectInfoById" resultType="org.springblade.modules.core.dto.FluidFieldBaseInfoDto">
        select * from fluid_field_base_info where id = #{id}
    </select>

</mapper>
