<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.core.mapper.GasCameraMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseInfoResultMap" type="org.springblade.modules.core.entity.GasCamera">
        <id column="id" property="id"/>
        <result column="gas_id" property="gasId"/>
        <result column="device_serial" property="deviceSerial"/>
    </resultMap>

    <select id="getDeviceSerial" resultType="string">
        select device_serial
        from gas_camera
        where gas_id = #{gasId}
    </select>


</mapper>
