<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.core.mapper.GasDeviceRecordMapper">

    <resultMap type="GasDeviceRecord" id="GasDeviceRecordResult">
        <result property="id"    column="id"    />
        <result property="gasId"    column="gas_id"    />
        <result property="gasName"    column="gas_name"    />
        <result property="content"    column="content"    />
        <result property="inspectName"    column="inspect_name"    />
        <result property="inspectData"    column="inspect_data"    />
        <result property="takeSteps"    column="take_steps"    />
        <result property="safetyOfficer"    column="safety_officer"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="fileUrl"    column="file_url"    />
    </resultMap>

    <sql id="selectGasDeviceRecordVo">
        select id,gas_id,gas_name,content,inspect_name,inspect_data, take_steps, safety_officer, create_user, create_time, update_time, update_user, is_deleted, file_url from gas_device_record
    </sql>

    <select id="selectGasDeviceRecordList" parameterType="GasDeviceRecord" resultMap="GasDeviceRecordResult">
        <include refid="selectGasDeviceRecordVo"/>
        where is_deleted = 0
            <if test="re.gasId != null  and re.gasId != ''"> and gas_id = #{re.gasId}</if>
            <if test="re.gasName != null  and re.gasName != ''"> and gas_name like concat(concat('%', #{re.gasName}),'%') </if>
            <if test="re.content != null  and re.content != ''"> and content = #{re.content}</if>
            <if test="re.inspectName != null  and re.inspectName != ''"> and inspect_name = #{re.inspectName}</if>
            <if test="re.inspectData != null  and re.inspectData != ''"> and inspect_data = #{re.inspectData}</if>
            <if test="re.takeSteps != null  and re.takeSteps != ''"> and take_steps = #{re.takeSteps}</if>
            <if test="re.safetyOfficer != null  and re.safetyOfficer != ''"> and safety_officer = #{re.safetyOfficer}</if>
            <if test="re.createUser != null  and re.createUser != ''"> and create_user = #{re.createUser}</if>
            <if test="re.updateUser != null  and re.updateUser != ''"> and update_user = #{re.updateUser}</if>
            <if test="re.isDeleted != null "> and is_deleted = #{re.isDeleted}</if>
        order by create_time desc
    </select>

    <select id="selectGasDeviceRecordById" parameterType="Long" resultMap="GasDeviceRecordResult">
        <include refid="selectGasDeviceRecordVo"/>
        where id = #{id}
    </select>

    <select id="selectGasDeviceRecordAllList" resultType="org.springblade.modules.core.entity.GasDeviceRecord">
        <include refid="selectGasDeviceRecordVo"/>
        where is_deleted = 0 order by create_time desc
    </select>

    <select id="selectGasDeviceRecordByInspectId"
            resultType="org.springblade.modules.core.entity.GasDeviceRecord">
        <include refid="selectGasDeviceRecordVo"/>
        where is_deleted = 0
        <if test="inspectId != null and inspectId != ''">
                and inspect_id = #{inspectId}
        </if>
        order by create_time desc
    </select>

    <insert id="insertGasDeviceRecord" parameterType="GasDeviceRecord" useGeneratedKeys="true" keyProperty="id">
        insert into gas_device_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gasId != null">gas_id,</if>
            <if test="gasName != null">gas_name,</if>
            <if test="content != null">content,</if>
            <if test="inspectName != null">inspect_name,</if>
            <if test="inspectData != null">inspect_data,</if>
            <if test="takeSteps != null">take_steps,</if>
            <if test="safetyOfficer != null">safety_officer,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gasId != null">#{gasId},</if>
            <if test="gasName != null">#{gasName},</if>
            <if test="content != null">#{content},</if>
            <if test="inspectName != null">#{inspectName},</if>
            <if test="inspectData != null">#{inspectData},</if>
            <if test="takeSteps != null">#{takeSteps},</if>
            <if test="safetyOfficer != null">#{safetyOfficer},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateGasDeviceRecord" parameterType="GasDeviceRecord">
        update gas_device_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="gas.gasId != null">gas_id = #{gas.gasId},</if>
            <if test="gas.gasName != null">gas_name = #{gas.gasName},</if>
            <if test="gas.content != null">content = #{gas.content},</if>
            <if test="gas.inspectName != null">inspect_name = #{gas.inspectName},</if>
            <if test="gas.inspectData != null">inspect_data = #{gas.inspectData},</if>
            <if test="gas.takeSteps != null">take_steps = #{gas.takeSteps},</if>
            <if test="gas.safetyOfficer != null">safety_officer = #{gas.safetyOfficer},</if>
            <if test="gas.createUser != null">create_user = #{gas.createUser},</if>
            <if test="gas.createTime != null">create_time = #{gas.createTime},</if>
            <if test="gas.updateTime != null">update_time = #{gas.updateTime},</if>
            <if test="gas.updateUser != null">update_user = #{gas.updateUser},</if>
            <if test="gas.isDeleted != null">is_deleted = #{gas.isDeleted},</if>
        </trim>
        where id = #{gas.id}
    </update>

    <update id="updateFileUrlById">
        update gas_device_record set file_url = #{url}  where id = #{id}
    </update>

    <delete id="deleteGasDeviceRecordById" parameterType="String">
        update gas_device_record set is_deleted = 1  where id = #{id}
    </delete>

</mapper>
