<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.core.mapper.GasFluCorrelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseInfoResultMap" type="org.springblade.modules.core.entity.GasFluCorrelation">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="gas_id" property="gasId"/>
        <result column="flu_id" property="fluId"/>
    </resultMap>

    <select id="detail" resultType="org.springblade.modules.core.vo.GasFluCorrelationVO">
        select gfc.flu_id, ff.flu_name
        from gas_flu_correlation gfc
        left join fluid_field_base_info ff on ff.flu_number = gfc.flu_id
        where gfc.gas_id = #{userId}
    </select>


</mapper>
