<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.core.mapper.GasPatrolRecordMapper">

    <resultMap type="GasPatrolRecord" id="GasPatrolRecordResult">
        <result property="id"    column="id"    />
        <result property="gasId"    column="gas_id"    />
        <result property="fillDate"    column="fill_date"    />
        <result property="fillPerson"    column="fill_person"    />
        <result property="content"    column="content"    />
        <result property="principal"    column="principal"    />
        <result property="reviewPerson"    column="review_person"    />
        <result property="abarbeitung"    column="abarbeitung"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="fileUrl"    column="file_url"    />
    </resultMap>

    <sql id="selectGasPatrolRecordVo">
        select id, gas_id,gas_name, fill_date, content, fill_person, principal, review_person, abarbeitung, create_user, create_time, update_time, update_user, is_deleted, file_url from gas_patrol_record
    </sql>

    <select id="selectGasPatrolRecordList" parameterType="GasPatrolRecord" resultMap="GasPatrolRecordResult">
        <include refid="selectGasPatrolRecordVo"/>
        where is_deleted = 0
        <if test="gas.gasId != null  and gas.gasId != ''"> and gas_id = #{gas.gasId}</if>
            <if test="gas.gasName != null  and gas.gasName != ''"> and gas_name like concat(concat('%', #{gas.gasName}),'%') </if>
            <if test="gas.fillDate != null  and gas.fillDate != ''"> and fill_date = #{gas.fillDate}</if>
            <if test="gas.fillPerson != null  and gas.fillPerson != ''"> and fill_person = #{gas.fillPerson}</if>
            <if test="gas.content != null  and gas.content != ''"> and content = #{gas.content}</if>
            <if test="gas.principal != null  and gas.principal != ''"> and principal = #{gas.principal}</if>
            <if test="gas.reviewPerson != null  and gas.reviewPerson != ''"> and review_person = #{gas.reviewPerson}</if>
            <if test="gas.createUser != null  and gas.createUser != ''"> and create_user = #{gas.createUser}</if>
            <if test="gas.updateUser != null  and gas.updateUser != ''"> and update_user = #{gas.updateUser}</if>
            <if test="gas.isDeleted != null "> and is_deleted = #{gas.isDeleted}</if>
        order by create_time desc
    </select>

    <select id="selectGasPatrolRecordById" parameterType="Long" resultMap="GasPatrolRecordResult">
        <include refid="selectGasPatrolRecordVo"/>
        where id = #{id}
    </select>
    <select id="selectGasPatrolRecordAllList" resultType="org.springblade.modules.core.entity.GasPatrolRecord">
        <include refid="selectGasPatrolRecordVo"/>
        where is_deleted = 0 order by create_time desc
    </select>

    <insert id="insertGasPatrolRecord" parameterType="GasPatrolRecord" useGeneratedKeys="true" keyProperty="id">
        insert into gas_patrol_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gas.gasId != null">gas_id,</if>
            <if test="gas.gasName != null">gas_name,</if>
            <if test="gas.fillDate != null">fill_date,</if>
            <if test="gas.fillPerson != null">fill_person,</if>
            <if test="gas.content != null">content,</if>
            <if test="gas.principal != null">principal,</if>
            <if test="gas.abarbeitung != null">abarbeitung,</if>
            <if test="gas.reviewPerson != null">review_person,</if>
            <if test="gas.createUser != null">create_user,</if>
            <if test="gas.createTime != null">create_time,</if>
            <if test="gas.updateTime != null">update_time,</if>
            <if test="gas.updateUser != null">update_user,</if>
            <if test="gas.isDeleted != null">is_deleted,</if>
            <if test="gas.fileUrl != null">file_url,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gas.gasId != null">#{gas.gasId},</if>
            <if test="gas.gasName != null">#{gas.gasName},</if>
            <if test="gas.fillDate != null">#{gas.fillDate},</if>
            <if test="gas.fillPerson != null">#{gas.fillPerson},</if>
            <if test="gas.content != null">#{gas.content},</if>
            <if test="gas.principal != null">#{gas.principal},</if>
            <if test="gas.reviewPerson != null">#{gas.reviewPerson},</if>
            <if test="gas.abarbeitung != null">#{gas.abarbeitung},</if>
            <if test="gas.createUser != null">#{gas.createUser},</if>
            <if test="gas.createTime != null">#{gas.createTime},</if>
            <if test="gas.updateTime != null">#{gas.updateTime},</if>
            <if test="gas.updateUser != null">#{gas.updateUser},</if>
            <if test="gas.isDeleted != null">#{gas.isDeleted},</if>
            <if test="gas.fileUrl != null">#{gas.fileUrl},</if>
        </trim>
    </insert>

    <update id="updateGasPatrolRecord" parameterType="GasPatrolRecord">
        update gas_patrol_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="gas.gasId != null">gas_id = #{gas.gasId},</if>
            <if test="gas.gasName != null">gas_name = #{gas.gasName},</if>
            <if test="gas.fillDate != null">fill_date = #{gas.fillDate},</if>
            <if test="gas.fillPerson != null">fill_person = #{gas.fillPerson},</if>
            <if test="gas.content != null">content = #{gas.content},</if>
            <if test="gas.principal != null">principal = #{gas.principal},</if>
            <if test="gas.reviewPerson != null">review_person = #{gas.reviewPerson},</if>
            <if test="gas.abarbeitung != null">abarbeitung = #{gas.abarbeitung},</if>
            <if test="gas.createUser != null">create_user = #{gas.createUser},</if>
            <if test="gas.createTime != null">create_time = #{gas.createTime},</if>
            <if test="gas.updateTime != null">update_time = #{gas.updateTime},</if>
            <if test="gas.updateUser != null">update_user = #{gas.updateUser},</if>
            <if test="gas.isDeleted != null">is_deleted = #{gas.isDeleted},</if>
            <if test="gas.fileUrl != null">file_url = #{gas.fileUrl},</if>
        </trim>
        where id = #{gas.id}
    </update>


    <update id="updateFileUrlById">
        update gas_patrol_record set file_url = #{url}  where id = #{id}
    </update>

    <delete id="deleteGasPatrolRecordByIds" parameterType="String">
        update gas_patrol_record set is_deleted = 1  where id = #{id}
    </delete>

</mapper>
