<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.core.mapper.GasTourReconcileMapper">

    <resultMap type="GasTourReconcile" id="GasTourReconcileResult">
        <result property="id"    column="id"    />
        <result property="gasId"    column="gas_id"    />
        <result property="tourPerson"    column="tour_person"    />
        <result property="starTourTime"    column="start_tour_time"    />
        <result property="endTourTime"    column="end_tour_time"    />
        <result property="addLiquidMeasureCount"    column="add_liquid_measure_count"    />
        <result property="amountCount"    column="amount_count"    />
        <result property="amountReceivable"    column="amount_receivable"    />
        <result property="fundsReceived"    column="funds_received"    />
        <result property="dealCount"    column="deal_count"    />
        <result property="collectionChannelSummary"    column="collection_channel_summary"    />
        <result property="gunNumberSummary"    column="gun_number_summary"    />
        <result property="groupSummary"    column="group_summary"    />
        <result property="fleetSummary"    column="fleet_summary"    />
        <result property="unitPriceSummary"    column="unit_price_summary"    />
        <result property="inventory"    column="inventory"    />
        <result property="leaderSignature"    column="leader_signature"    />
        <result property="agentSignature"    column="agent_signature"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectGasTourReconcileVo">
        select id, gas_id, gas_name, tour_person, start_tour_time, end_tour_time, add_liquid_measure_count, amount_count, amount_receivable, funds_received, deal_count, total_recharge_amount, amount_receivable_t, funds_received_t, deal_count_t, amount_deducted, collection_channel_summary, gun_number_summary, group_summary, fleet_summary, unit_price_summary, inventory, leader_signature, agent_signature, create_user, create_time, update_time, update_user, is_deleted from gas_tour_reconcile
    </sql>

    <select id="selectGasTourReconcileList" parameterType="GasTourReconcile" resultMap="GasTourReconcileResult">
        <include refid="selectGasTourReconcileVo"/>
        where  is_deleted = 0
            <if test="gas.gasId != null  and gas.gasId != ''"> and gas_id = #{gas.gasId}</if>
            <if test="gas.gasName != null  and gas.gasName != ''"> and gas_name = #{gas.gasName}</if>
            <if test="gas.tourPerson != null  and gas.tourPerson != ''"> and tour_person = #{gas.tourPerson}</if>
            <if test="gas.starTourTime != null  and gas.starTourTime != ''"> and start_tour_time = #{gas.starTourTime}</if>
            <if test="gas.endTourTime != null  and gas.endTourTime != ''"> and end_tour_time = #{gas.endTourTime}</if>
            <if test="gas.addLiquidMeasureCount != null  and gas.addLiquidMeasureCount != ''"> and add_liquid_measure_count = #{gas.addLiquidMeasureCount}</if>
            <if test="gas.amountCount != null  and gas.amountCount != ''"> and amount_count = #{gas.amountCount}</if>
            <if test="gas.amountReceivable != null  and gas.amountReceivable != ''"> and amount_receivable = #{gas.amountReceivable}</if>
            <if test="gas.fundsReceived != null  and gas.fundsReceived != ''"> and funds_received = #{gas.fundsReceived}</if>
            <if test="gas.dealCount != null  and gas.dealCount != ''"> and deal_count = #{gas.dealCount}</if>
            <if test="gas.collectionChannelSummary != null  and gas.collectionChannelSummary != ''"> and collection_channel_summary = #{gas.collectionChannelSummary}</if>
            <if test="gas.gunNumberSummary != null  and gas.gunNumberSummary != ''"> and gun_number_summary = #{gas.gunNumberSummary}</if>
            <if test="gas.groupSummary != null  and gas.groupSummary != ''"> and group_summary = #{gas.groupSummary}</if>
            <if test="gas.fleetSummary != null  and gas.fleetSummary != ''"> and fleet_summary = #{gas.fleetSummary}</if>
            <if test="gas.unitPriceSummary != null  and gas.unitPriceSummary != ''"> and unit_price_summary = #{gas.unitPriceSummary}</if>
            <if test="gas.inventory != null  and gas.inventory != ''"> and inventory = #{gas.inventory}</if>
            <if test="gas.leaderSignature != null  and gas.leaderSignature != ''"> and leader_signature = #{gas.leaderSignature}</if>
            <if test="gas.agentSignature != null  and gas.agentSignature != ''"> and agent_signature = #{gas.agentSignature}</if>
            <if test="gas.createUser != null  and gas.createUser != ''"> and create_user = #{gas.createUser}</if>
            <if test="gas.updateUser != null  and gas.updateUser != ''"> and update_user = #{gas.updateUser}</if>


    </select>

    <select id="selectGasTourReconcileById" parameterType="Long" resultMap="GasTourReconcileResult">
        <include refid="selectGasTourReconcileVo"/>
        where id = #{id}
    </select>

    <select id="selectAllGasTourReconcileList" resultType="org.springblade.modules.core.entity.GasTourReconcile">
        <include refid="selectGasTourReconcileVo"/>
        where is_deleted = 0 order by create_time desc
    </select>

    <insert id="insertGasTourReconcile" parameterType="GasTourReconcile" useGeneratedKeys="true" keyProperty="id">
        insert into gas_tour_reconcile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gasId != null">gas_id,</if>
            <if test="gasName != null">gas_name,</if>
            <if test="tourPerson != null">tour_person,</if>
            <if test="starTourTime != null">start_tour_time,</if>
            <if test="endTourTime != null">end_tour_time,</if>
            <if test="addLiquidMeasureCount != null">add_liquid_measure_count,</if>
            <if test="amountCount != null">amount_count,</if>
            <if test="amountReceivable != null">amount_receivable,</if>
            <if test="fundsReceived != null">funds_received,</if>
            <if test="dealCount != null">deal_count,</if>
            <if test="totalRechargeAmount != null">total_recharge_amount,</if>
            <if test="amountReceivableT != null">amount_receivable_t,</if>
            <if test="fundsReceivedT != null">funds_received_t,</if>
            <if test="dealCountT != null">deal_count_t,</if>
            <if test="amountDeducted != null">amount_deducted,</if>
            <if test="collectionChannelSummary != null">collection_channel_summary,</if>
            <if test="gunNumberSummary != null">gun_number_summary,</if>
            <if test="groupSummary != null">group_summary,</if>
            <if test="fleetSummary != null">fleet_summary,</if>
            <if test="unitPriceSummary != null">unit_price_summary,</if>
            <if test="inventory != null">inventory,</if>
            <if test="leaderSignature != null">leader_signature,</if>
            <if test="agentSignature != null">agent_signature,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="isDeleted != null">is_deleted,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gasId != null">#{gasId},</if>
            <if test="gasName != null">#{gasName},</if>
            <if test="tourPerson != null">#{tourPerson},</if>
            <if test="starTourTime != null">#{starTourTime},</if>
            <if test="endTourTime != null">#{endTourTime},</if>
            <if test="addLiquidMeasureCount != null">#{addLiquidMeasureCount},</if>
            <if test="amountCount != null">#{amountCount},</if>
            <if test="amountReceivable != null">#{amountReceivable},</if>
            <if test="fundsReceived != null">#{fundsReceived},</if>
            <if test="dealCount != null">#{dealCount},</if>
            <if test="totalRechargeAmount != null">#{totalRechargeAmount},</if>
            <if test="amountReceivableT != null">#{amountReceivableT},</if>
            <if test="fundsReceivedT != null">#{fundsReceivedT},</if>
            <if test="dealCountT != null">#{dealCountT},</if>
            <if test="amountDeducted != null">#{amountDeducted},</if>
            <if test="collectionChannelSummary != null">#{collectionChannelSummary},</if>
            <if test="gunNumberSummary != null">#{gunNumberSummary},</if>
            <if test="groupSummary != null">#{groupSummary},</if>
            <if test="fleetSummary != null">#{fleetSummary},</if>
            <if test="unitPriceSummary != null">#{unitPriceSummary},</if>
            <if test="inventory != null">#{inventory},</if>
            <if test="leaderSignature != null">#{leaderSignature},</if>
            <if test="agentSignature != null">#{agentSignature},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
        </trim>
    </insert>

    <update id="updateGasTourReconcile" parameterType="GasTourReconcile">
        update gas_tour_reconcile
        <trim prefix="SET" suffixOverrides=",">
            <if test="gas.gasId != null">gas_id = #{gas.gasId},</if>
            <if test="gas.gasName != null">gas_name = #{gas.gasName},</if>
            <if test="gas.tourPerson != null">tour_person = #{gas.tourPerson},</if>
            <if test="gas.starTourTime != null">start_tour_time = #{gas.starTourTime},</if>
            <if test="gas.endTourTime != null">end_tour_time = #{gas.endTourTime},</if>
            <if test="gas.addLiquidMeasureCount != null">add_liquid_measure_count = #{gas.addLiquidMeasureCount},</if>
            <if test="gas.amountCount != null">amount_count = #{gas.amountCount},</if>
            <if test="gas.amountReceivable != null">amount_receivable = #{gas.amountReceivable},</if>
            <if test="gas.fundsReceived != null">funds_received = #{gas.fundsReceived},</if>
            <if test="gas.dealCount != null">deal_count = #{gas.dealCount},</if>
            <if test="gas.totalRechargeAmount != null">total_recharge_amount = #{gas.totalRechargeAmount},</if>
            <if test="gas.amountReceivableT != null">amount_receivable_t = #{gas.amountReceivableT},</if>
            <if test="gas.fundsReceivedT != null">funds_received_t = #{gas.fundsReceivedT},</if>
            <if test="gas.dealCountT != null">deal_count_t = #{gas.dealCountT},</if>
            <if test="gas.amountDeducted != null">amount_deducted = #{gas.amountDeducted},</if>
            <if test="gas.collectionChannelSummary != null">collection_channel_summary = #{gas.collectionChannelSummary},</if>
            <if test="gas.gunNumberSummary != null">gun_number_summary = #{gas.gunNumberSummary},</if>
            <if test="gas.groupSummary != null">group_summary = #{gas.groupSummary},</if>
            <if test="gas.fleetSummary != null">fleet_summary = #{gas.fleetSummary},</if>
            <if test="gas.unitPriceSummary != null">unit_price_summary = #{gas.unitPriceSummary},</if>
            <if test="gas.inventory != null">inventory = #{gas.inventory},</if>
            <if test="gas.leaderSignature != null">leader_signature = #{gas.leaderSignature},</if>
            <if test="gas.agentSignature != null">agent_signature = #{gas.agentSignature},</if>
            <if test="gas.createUser != null">create_user = #{gas.createUser},</if>
            <if test="gas.createTime != null">create_time = #{gas.createTime},</if>
            <if test="gas.updateTime != null">update_time = #{gas.updateTime},</if>
            <if test="gas.updateUser != null">update_user = #{gas.updateUser},</if>
            <if test="gas.isDeleted != null">is_deleted = #{gas.isDeleted},</if>
        </trim>
        where id = #{gas.id}
    </update>

    <delete id="deleteGasTourReconcileById" parameterType="String">
        update gas_tour_reconcile set is_deleted = 1  where id = #{id}
    </delete>

</mapper>
