<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.core.mapper.ListedPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="listedPriceResultMap" type="org.springblade.modules.core.entity.ListedPriceEntity">
        <result column="id" property="id"/>
        <result column="fluid" property="fluid"/>
        <result column="fluid_name" property="fluidName"/>
        <result column="day" property="day"/>
        <result column="listed_price" property="listedPrice"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectListedPricePage" resultMap="listedPriceResultMap">
        select * from fluid_listed_price where is_deleted = 0
        and  (fluid, create_time) IN (
        SELECT
        fluid,
        MAX(create_time) AS max_create_time
        FROM
        gas_bladex.fluid_listed_price
        GROUP BY fluid)
        <if test="vo.fluid != null and vo.fluid != ''">
            and fluid = #{vo.fluid}
        </if>
        <if test="vo.fluidName != null and vo.fluidName != ''">
            and fluid_name like concat(concat('%', #{vo.fluidName}),'%')
        </if>
        <if test="vo.day != null and vo.day != ''">
            and day = #{vo.day}
        </if>
        order by create_time desc
    </select>

    <select id="exportListedPrice" resultType="org.springblade.modules.core.excel.ListedPriceExcel">
        SELECT * FROM fluid_listed_price ${ew.customSqlSegment}
    </select>

    <select id="priceTrend" resultType="org.springblade.modules.core.dto.dapin.DayPriceDto">
        SELECT
            DATE(flp.day)  as priceDay ,
            MAX(flp.listed_price) as price
        FROM
            fluid_listed_price flp
        WHERE
            flp.day &gt;= CURDATE() - INTERVAL 90 DAY
          and flp.fluid = #{id}
        GROUP BY
            flp.day
    </select>

    <select id="recentQuotation" resultType="java.lang.Double">
        select listed_price from fluid_listed_price where fluid = #{fluid} order by create_time desc limit 1
    </select>

    <select id="getDayList" resultType="org.springblade.modules.core.entity.ListedPriceEntity">
        SELECT
            fluid,
            fluid_name,
            day,
            MAX(listed_price) as listedPrice
        FROM
            fluid_listed_price
        WHERE
            day = CURDATE()
        GROUP BY
            fluid
    </select>

    <select id="priceServerTrend" resultType="org.springblade.modules.core.dto.dapin.DayPriceDto">
        SELECT
        date_add( curdate(), INTERVAL ( cast( help_topic_id AS signed INTEGER ) - 30 ) DAY ) priceDay,
        ifnull( am.price, 0 ) price
        FROM
        mysql.help_topic h
        LEFT JOIN (

        SELECT
        DATE(day) AS priceDay,
        fluid_name,
        MAX(listed_price) AS price
        FROM
        fluid_listed_price
        WHERE
        day >= CURDATE() - INTERVAL 30 DAY
        and fluid = #{fluid}
        GROUP BY
        DATE(day),fluid

        ) am ON date_add( curdate(), INTERVAL ( cast( h.help_topic_id AS signed INTEGER ) - 30 ) DAY ) = am.priceDay
        WHERE
        h.help_topic_id &lt;= DAY (
        last_day(
        curdate()))
        ORDER BY
        h.help_topic_id

    </select>

    <update id="deleteBaseInfo">
        update fluid_listed_price set is_deleted = 1 where id = #{ids}
    </update>
</mapper>
